div {
  width: 200px;
}

h1 {
  width: 200px;
  background-color: #ffa69e;
  padding-left: 30px;
  padding-top: 50px;
}

#one {
  background-color: #aed9e0;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  box-sizing: border-box;
  margin-left: 50px;
}

#two {
  background-color: #b8f2e6;
  border: 2px dashed #000;
  box-sizing: border-box;
  padding-right: 50px;
  margin-top: 50px;
}

#three {
  background-color: #faf3dd;
  border-width: 2px;
  border-color: #000;
  border-style: dotted;
  box-sizing: border-box;
  margin-bottom: 50px;
}

button {
  padding: 5px 20px;
}
