h1,
h2 {
  color: #293241;
}

.post button {
  color: #293241;
  background-color: #ee6c4d;
}

#login {
  color: #98c1d9;
  background-color: #293241;
}

#signup {
  color: #293241;
  background-color: #98c1d9;
}

span {
  color: #98c1d9;
}

.tag {
  background-color: #3d5a80;
  color: #e0fbfc;
  font-size: small;
}

.post a {
  color: #3d5a80;
}

footer a {
  color: #293241;
}

.post button:hover {
  background-color: #293241;
  color: #e0fbfc;
}

.post button:active {
  background-color: #98c1d9;
}

.post:nth-of-type(2n) {
  background-color: #e0fbfc;
}

h2::first-letter {
  color: #ee6c4d;
}

p::selection {
  background-color: #ee6c4d;
  color: #3d5a80;
}
